* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #121314;
}

.container {
    width: 100%;
}

.News-Section {
    width: 85%;
    margin: 20px auto;
}

.News-Section .title {
    text-align: center;
    margin: auto;
}

.News-Section .title h2 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
}

.News-Section .title p {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.card {
    background-color: #212529;
}

.CreditsPage {
    background-color: #212529;
}

.cards .card {
    width: 100%;
    position: relative;
}

.cards .CreditsPage {
    width: 100%;
    position: relative;
}

.image-section img {
    width: 100%;
    height: auto;
}

.content {
    padding: 15px 20px;
}


.content h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}

.content p {
    color: #fff;
    font-size: 15px;
}

.content a {
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #FFC107;
    padding: 8px 15px;
    border-radius: 3%;
}

.card .posted-date {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #FFC107;
    padding: 6px 15px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width: 992px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .cards{
        grid-template-columns: 1fr;
    }
}